[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/icaven/glm.git
[submodule "3rdparty/ktx"]
	path = 3rdparty/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
	branch = 4.2
[submodule "3rdparty/tinygltf"]
	path = 3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	branch = release
[submodule "imgui"]
	path = 3rdparty/imgui
	url = https://github.com/kry4r/imgui.git
	branch = vulkan
